.star {
    display: inline-block;
    font-size: 24px;
    color: #f0d850;
    margin-right: 5px;
}
.empty-star {
    color: #ccc; 
}
.color-radio, .size-radio {
    display: none;
    background-color: black;
}
.color-radio, .size-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: black;
}
.size-radio {
    background-color: beige;
    border: 2px solid gray;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    background-color: black;
}
.small{
    content:'S';
    font-weight:bold;
}
.medium {
    content: 'M';
    font-weight: bold;
}
.large {
    content: 'L';
    font-weight: bold;
}
.xlarge {
    content: 'XL';
    font-weight: bold;
}
.white {
    color: azure;
    background-color: white;
}
.black{
    color:black;
    background-color:black;
}
.gray {
    color: dimgray;
    background-color: gray;
}
.pink {
    color: lightpink;
    background-color: pink;
}
.purple {
    color: mediumpurple;
    background-color: purple;
}
.green {
    color: darkolivegreen;
    background-color: green;
}
.beige {
    color: beige;
    background-color: beige;
}
.brown {
    color: saddlebrown;
    background-color: brown;
}
.yellow {
    color: yellow;
    background-color: yellow;
}
input[type="radio"][name="color"][disabled] {
    color: #999; 
}
input[type="radio"][name="color"]:checked {
    border: 2px solid gray;
}


