
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@model List<CommentVM>

<!-- ======= About Section ======= -->
<section id="about" class="aboutOps">
	<div class="container" data-aos="fade-up">

        <div class="row position-relative ">
			<div class="col-lg-7 about-img" style="background-image: url(/one-music-gh-pages/img/bg-img/breadcumb3.jpg);"></div>

			<div class="col-lg-7">
				<h2 style="color:#feb900;">Orange Press Store</h2>
				<div class="our-story">
					<h3>BİZ KİMİZ?</h3>
					<p>
						Hayattan ve doğadan edindiğimiz deneyimlerle beslenen ürünler tasarlıyoruz. Ürünlerimizi üretirken ve sana ulaştırırken doğaya duyarlı davranıyoruz. Anılara ortak olmayı ve yeni anılar oluşturmayı çok seviyoruz. Giyim ve aksesuar ürünlerimiz bizim hikayemizden çıkıp senin hikayen olmaya geliyor. Senin hikayende yanında olduğumuz için çok mutluyuz.
					</p>
					<ul>
						<li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
						<li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
						<li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
					</ul>
					<p>
						Vitae autem velit excepturi fugit. Animi ad non. Eligendi et non nesciunt suscipit repellendus porro in
						quo eveniet. Molestias in maxime doloremque.
					</p>	
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End About Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonialsOps section-bg p-t-50">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Yorumlar</h2>
            <p>
                Kullanıcı deneyimlerini aşağıdan inceleyebilirsiniz.
            </p>
        </div>
        <div class="slides-2 swiper p-t-50">
            <div class="swiper-wrapper">
        @foreach(var item in Model)
        {
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <h3>@item.Name</h3>
                                <h4>@item.ProductName</h4>
                                <div class="stars">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <span class="star @(i <= item.Mark ? "filled" : "")">&#9733;</span>
                                    }
                                   @*  <i class=""></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> *@
                                </div>
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    @item.Description
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                   
       
         </div><!-- End testimonial item -->
                }

            </div>
            <div class="swiper-pagination"></div>
        </div>
        </div>
    </div>
</section><!-- End Testimonials Section -->