
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@model List<CommentVM>

<!-- ======= About Section ======= -->
<section id="about" class="aboutOps">
	<div class="container" data-aos="fade-up">

        <div class="row position-relative ">
			<div class="col-lg-7 about-img" style="background-image: url(/one-music-gh-pages/img/bg-img/breadcumb3.jpg);"></div>

			<div class="col-lg-7">
				<h2>Consequatur eius et magnam</h2>
				<div class="our-story">
					<h4>Est 1988</h4>
					<h3>Our Story</h3>
					<p>
						Inventore aliquam beatae at et id alias. Ipsa dolores amet consequuntur minima quia maxime autem.
						Quidem id sed ratione. Tenetur provident autem in reiciendis rerum at dolor. Aliquam consectetur
						laudantium temporibus dicta minus dolor.
					</p>
					<ul>
						<li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
						<li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
						<li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
					</ul>
					<p>
						Vitae autem velit excepturi fugit. Animi ad non. Eligendi et non nesciunt suscipit repellendus porro in
						quo eveniet. Molestias in maxime doloremque.
					</p>	
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End About Section -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 mx-auto text-center">
				<h2 class="section-title">Yorumlar</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="testimonial-slider-wrap text-center">

					<div id="testimonial-nav">
						<span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
						<span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
					</div>

					<div class="testimonial-slider">
						@foreach(var item in Model)
						{
							<div class="item">
								<div class="row justify-content-center">
									<div class="col-lg-8 mx-auto">

										<div class="testimonial-block text-center">
											<blockquote class="mb-5">
												<p>@item.Description</p>
											</blockquote>

											<div class="author-info">
												<h3 class="font-weight-bold">@item.Mark</h3>
												<h3 class="font-weight-bold">@item.Name</h3>
												<span class="position d-block mb-3">@item.ProductName</span>
											</div>
										</div>

									</div>
								</div>
							</div>
							
						}
						

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Testimonial Slider -->
