
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@model MessageCreateVM

@if(TempData["result"] !=null)
{
    <script>
        alert("@TempData["result"]");
       </script>
}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contactOps">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="col-12">
            <div class="section-heading p-t-50">
                <h2>BİZE ULAŞIN!</h2>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="info-item d-flex justify-content-around">


                    <a href="https://www.trendyol.com/magaza/orange-press-store-m-877656?sst=0" class="text-center d-flex flex-column align-items-center">
                            <i class="fa fa-dribbble"></i>
                            <h3>Trendyol</h3>
                            <p>/orange-press-store</p>
                        </a>

                    <a href="https://www.instagram.com/orangepressstore/" class="text-center d-flex flex-column align-items-center">
                            <i class="fa fa-instagram"></i>
                            <h3>Instagram</h3>
                        <p>/orangepressstore</p>
                        </a>

                </div>

            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-envelope"></i>
                    <h3>Mail Adresimiz</h3>
                    <p>orangepressstore@gmail.com</p>
                </div>
            </div><!-- End Info Item -->

            <div class="col-lg-3 col-md-6">
                <div class="info-item  d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-telephone"></i>
                    <h3>Telefon Numaramız</h3>
                    <p>+90 (543) 745 06 20</p>
                </div>
            </div><!-- End Info Item -->

        </div>

        <div class="row gy-4 mt-1">

            <div class="col-lg-6 ">
               <img src="~/img/ops2.png" />
            </div><!-- End Google Maps -->
            <div class="col-lg-6">
                <form asp-action="Contact" asp-controller="Home" method="post" class="contactFormOps">
                     <div class="text-danger"></div>
                    <div class="row gy-4">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Name">İsim Soyisim</label>
                                <input asp-for="Name" type="text" class="form-control" id="fname">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Konu</label>
                                <input asp-for="Subject" type="text" class="form-control" id="lname">
                                <span  asp-validation-for="Subject" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label >E-mail</label>
                        <input asp-for="Email" type="email" class="form-control" id="email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-5">
                        <label>Mesajınız</label>
                        <textarea asp-for="Description" name="Description" class="form-control" id="message" cols="30" rows="5"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-warning-outline">Gönder</button>
                </form>

            </div>
        </div>

    </div>
</section><!-- End Contact Section -->

