@model LoginVM
@{
    ViewData["Title"] = "Giriş";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@if (TempData["CreateUser"] != null)
{
    <div class="alert alert-success">
       <strong>Başarılı!</strong> @TempData["CreateUser"]
    </div>
}
@if (TempData["ErrorLogin"] != null)
{
    <div class="alert alert-danger">
        <strong>Giriş yapılamadı!</strong> @TempData["ErrorLogin"]
    </div>
}

<section class="login-area section-padding-100 row gy-4 mt-1 loginRegisterOps">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Giriş Yap</h3>
                    <!-- Login Form -->
                    <div class="row mt-3">
                        <div class="col-2 text-center ms-auto">
                            <a class="btn-social-ops  btn-link px-3" href="javascript:;">
                                <i class="fa fa-facebook text-warning text-lg"></i>
                            </a>
                        </div>
                        <div class="col-2 text-center me-auto">
                            <a class="btn-social-ops  btn-link px-3" href="javascript:;">
                                <i class="fa fa-google text-warning text-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="login-form">
                        <form asp-action="Login" asp-controller="User" method="post" class="contactFormOps ">
                            <div class="text-danger"></div>
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="Email" type="email" class="form-control" id="email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Şifre</label>
                                <input asp-for="Password" type="password" class="form-control" id="password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="justify-content-between align-items-center d-flex mb-3">
                                <div>
                                    <a asp-controller="User" asp-action="Reset" class="text-warning text-gradient font-weight-bold text-password justify-content-end">
                                        Şifremi Unuttum!
                                    </a>
                                </div>
                                <div class="form-check form-switch justify-content-start d-flex align-items-center mb-3">
                                    <input asp-for="Remember" class="ops-remember-input form-check-input" type="checkbox">
                                    <label class="form-check-label mb-0 ms-2" for="rememberMe">Beni Hatırla</label>
                                </div>
                            </div>
                           <div class="text-warning" asp-validation-summary="All"></div>

                            <button type="submit" class="btn btn-warning-outline">Giriş Yap</button>

                            <p class="mt-4 text-sm text-center">
                                Hesabınız yok mu?
                                <a asp-controller="User" asp-action="Register" class="text-warning text-gradient text-password font-weight-bold">Kayıt Ol</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function adjustContainerMaxWidth() {
        var container = document.querySelector('loginRegisterOps .container');
        var screenWidth = window.innerWidth;

        // Belirli bir ekran genişliği eşiğini belirleyin (örneğin, 800 piksel).
        var thresholdWidth = 1366;

        // Ekran genişliği eşiğinin üzerindeyse max-width'i güncelle.
        if (screenWidth > thresholdWidth) {
            container.style.maxWidth = '60%'; // İstediğiniz max-width değerini buraya yazın.
        } else {
            container.style.maxWidth = '70%'; // Ekran genişliği eşiği altındaysa varsayılan max-width değeri.
        }
    }

    // Sayfa yüklendiğinde ve pencere boyutu değiştikçe fonksiyonu çağırın.
    window.onload = adjustContainerMaxWidth;
    window.onresize = adjustContainerMaxWidth;
</script>


