@model LoginVM
@{
    ViewData["Title"] = "Giriş";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<section class="login-area section-padding-100 row gy-4 mt-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Giriş Yap</h3>
                    <!-- Login Form -->
                    <div class="row mt-3">
                        <div class="col-2 text-center ms-auto">
                            <a class="btn-social-ops  btn-link px-3" href="javascript:;">
                                <i class="fa fa-facebook text-warning text-lg"></i>
                            </a>
                        </div>
                        <div class="col-2 text-center px-1">
                            <a class="btn-social-ops  btn-link px-3" href="javascript:;">
                                <i class="fa fa-github text-warning text-lg"></i>
                            </a>
                        </div>
                        <div class="col-2 text-center me-auto">
                            <a class="btn-social-ops  btn-link px-3" href="javascript:;">
                                <i class="fa fa-google text-warning text-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="login-form">
                        <form asp-action="Login" asp-controller="User" method="post" class="contactFormOps">
                            <div class="text-danger"></div>
                            <div class="form-group">
                                <label>Email</label>
                                <input asp-for="Email" type="email" class="form-control" id="email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Şifre</label>
                                <input asp-for="Password" type="email" class="form-control" id="email">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <a asp-controller="User" asp-action="Reset" class="text-warning text-gradient font-weight-bold text-password justify-content-end">Şifremi Unuttum!</a>
                            <div class="form-check form-switch d-flex align-items-center mb-3">
                                <input asp-for="Remember" class="form-check-input ops-remember-input" type="checkbox">
                                <label class="form-check-label mb-0 ms-2" for="rememberMe">Beni Hatırla</label>
                            </div>
                            <button type="submit" class="btn btn-warning-outline ">Giriş Yap</button>
                            <p class="mt-4 text-sm text-center">
                                Hesabınız yok mu?
                                <a asp-controller="User" asp-action="Register" class="text-warning text-gradient text-password font-weight-bold">Kayıt Ol</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



