
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Giriş Yap</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form action="#" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mail Adresiniz</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail">
                                <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>Mail adresinizi kimse ile paylaşmayacağız.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Şifre</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Giriş Yap</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->