@model UserCreateVM
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
@if (TempData["NotCreateUser"] != null)
{
    <div class="alert alert-danger">
        <strong>Hata!</strong> @TempData["NotCreateUser"]
    </div>
}

<section class="login-area section-padding-100 row gy-4 mt-1 loginRegisterOps">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Kayıt Ol</h3>
                    <!-- Login Form -->
                   
                    <div class="login-form">
                        <form asp-action="Register" asp-controller="User" method="post" class="contactFormOps">
                            <div class="text-danger"></div>
                            <div class="row gy-4">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="FirstName">İsim</label>
                                        <input asp-for="FirstName" type="text" class="form-control" id="fname">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Soyisim</label>
                                        <input asp-for="LastName" type="text" class="form-control" id="lname">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input asp-for="Email" type="email" class="form-control" id="email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Şifre</label>
                                <input asp-for="Password" type="password" class="form-control" id="password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-check form-switch justify-content-start d-flex align-items-center mb-3">
                                <input asp-for="PersonelDataProtection" class="ops-remember-input form-check-input" type="checkbox">
                                <label class="form-check-label mb-0 ms-2" for="PersonelDataProtection">OPS tarafından iletişim bilgilerime tanıtım, reklam, kampanya vb. içerikli ticari e-ileti gönderilmesine, sağladığım kişisel verilerin <a asp-action="" asp-controller=""><u>Kişisel Verilerin Korunmasına İlişkin Aydınlatma Metni</u></a> kapsamında bu amaçla işlenmesine ve hizmet sağlayıcılara aktarılmasına izin veriyorum.</label>
                                <span asp-validation-for="PersonelDataProtection" class="text-danger"></span>
                            </div>
                            <div class="form-check form-switch justify-content-start d-flex align-items-center mb-3">
                                <input asp-for="MembershipAgreement" class="ops-remember-input form-check-input" type="checkbox">
                                <label class="form-check-label mb-0 ms-2" for="MembershipAgreement"><a asp-action="" asp-controller=""><u>Üyelik Sözleşmesi</u></a>'ni okudum, onaylıyorum.</label>
                                <span asp-validation-for="MembershipAgreement" class="text-danger"></span>
                            </div>
                            <div class="text-warning" asp-validation-summary="ModelOnly"></div>
                            <button type="submit" class="btn btn-warning-outline ">Kayıt Ol</button>
                            <p class="mt-4 text-sm text-center">
                               Zaten hesabınız var mı?
                                <a asp-controller="User" asp-action="Login" class="text-warning text-gradient text-password font-weight-bold">Giriş Yap</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
