

<!-- ======= Header ======= -->
<header id="header" class="opsHeader header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" >

        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>OPS<span>.</span></h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Anasayfa</a></li>
                <li><a asp-action="About" asp-controller="Home">Hakkımızda</a></li>
                <li><a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="1">Tişört Regular</a></li>
                <li><a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="2">Tişört Oversize</a></li>
                <li><a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="3">Hoodie</a></li>
                <li><a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="4">Sweatshirt</a></li>
                <li class="dropdown">
                    <a href="">
                        <span>Aksesuar</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                    </a>
                    <ul>
                        <li><a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="5">Kol Çantası</a></li>
                        <li><a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="6">Cüzdan</a></li>
                        <li><a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="7">Baf</a></li>
                    </ul>
                </li>
                <li><a asp-action="Contact" asp-controller="Home">İletişim</a></li>
                <li style="color:#222;" class="loginOps"><a asp-action="Contact" asp-controller="Home">Giriş Yap/Üye Ol</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->