<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>@ViewData["Title"]</title>
    @*"~/productdetailcss/detailscustom.css"*@
    <link rel="stylesheet" href="~/productDetailCss/DetailsCustom.css" />
 
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/baker/lib/animate/animate.min.css" rel="stylesheet">

    <link href="~/baker/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="~/one-music-gh-pages/img/core-img/favicon.ico">
    <link rel="icon" href="~/amado-master/img/core-img/favicon.ico">
    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/amado-master/css/core-style.css">
    <link rel="stylesheet" href="~/amado-master/style.css">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/baker/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/baker/css/style.css" rel="stylesheet">






    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/one-music-gh-pages/style.css">
    <link href="~/css/core-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ops.Web.styles.css" asp-append-version="true" />
    <link href="~/productdetailcss/core-style.css" rel="stylesheet" />
    <link href="~/footer/main.css" rel="stylesheet" />
    <link href="~/footer/util.css" rel="stylesheet" />

</head>
<body>
     <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0">OPS</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto p-4 p-lg-0">
                <a asp-action="Index" asp-controller="Home" class="nav-item nav-link active">Anasayfa</a>
                <a asp-action="About" asp-controller="Home" class="nav-item nav-link">Hakkımızda</a>
                <a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="1" class="nav-item nav-link">Tişört Regular</a>
                <a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="2" class="nav-item nav-link">Tişört Oversize</a>
                <a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="3" class="nav-item nav-link">Hoodie</a>
                <a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="4" class="nav-item nav-link">Sweatshirt</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Aksesuar</a>
                    <div class="dropdown-menu m-0">
                        <a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="5" class="dropdown-item">Kol Çantası</a>
                        <a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="6" class="dropdown-item">Cüzdan</a>
                        <a asp-action="GetAllProduct" asp-controller="Product" asp-route-id="7" class="dropdown-item">Baf</a>
                    </div>
                </div>
                <a asp-action="Contact" asp-controller="Home" class="nav-item nav-link">İletişim</a>
            </div>
            <div class=" d-none d-lg-flex">
                <div class="login-register-cart-button d-flex align-items-center">
                    <!-- Login/Register -->
                    <div class="login-register-btn mr-50">
                        <a href="login.html" id="loginBtn">Giriş Yap / Üye Ol</a>
                    </div>

                    <!-- Cart Button -->
                    <div class="cart-btn">
                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center pt-5 pb-3">
            <h1 class="display-4 text-white animated slideInDown mb-3">@ViewData["Title"]</h1>

        </div>
    </div>
    <!-- Page Header End -->

    @RenderBody()


    <!-- ##### Footer Area Start ##### -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-lg-3 p-b-50">

                    <h4 class="stext-301 cl0 p-b-30">
                        Kategoriler
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Kadın
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Erkek
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Aksesuar
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Bilgilendirme
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Hakkımızda
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Bize Ulaşın
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Mesafeli Satış Sözleşmesi
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Teslimat ve İade
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                                Gizlilik ve Güvenlik
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        BİZE ULAŞIN
                    </h4>
                    @* TODO: Buraya whatsapp instgram trendyol koy!! *@
                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                    </p>

                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Bülten
                    </h4>
                    <p class="stext-107 cl7 size-201">
                        Yeni ürün ve kampanyalarla ilgili bilgilendirme e-postası almak için bültenimize kaydolun.
                    </p>
                    <br />
                    <form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="E-posta adresiniz">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Abone Ol
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="~/footer/images/icons/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/footer/images/icons/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/footer/images/icons/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/footer/images/icons/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/footer/images/icons/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
        </div>
        </div>
    </footer>


    <!-- ##### All Javascript Script ##### -->

    <script src="~/footer/main.js"></script>
    <script src="~/productdetailcss/active.js"></script>
    <script src="~/productdetailcss/plugins.js"></script>
    <script src="~/productdetailcss/popper.min.js"></script>
    <script src="~/footer/jquery-3.2.1.min.js"></script>
    <!-- jQuery-2.2.4 js -->
    <script src="~/one-music-gh-pages/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/one-music-gh-pages/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/one-music-gh-pages/js/bootstrap/bootstrap.min.js"></script>
    <!-- Active js -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/one-music-gh-pages/js/plugins/plugins.js"></script>
    <script src="~/one-music-gh-pages/js/active.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/baker/lib/wow/wow.min.js"></script> 
     <script src="~/baker/lib/easing/easing.min.js"></script> 
    <script src="~/baker/lib/waypoints/waypoints.min.js"></script> 
     <script src="~/baker/lib/counterup/counterup.min.js"></script> 
     <script src="~/baker/lib/owlcarousel/owl.carousel.min.js"></script>


    <script src="~/baker/js/main.js"></script>



    <script src="~/amado-master/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/amado-master/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/amado-master/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/amado-master/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/amado-master/js/active.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
